<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/cards.css">
    <script src="https://kit.fontawesome.com/4041ed350e.js" crossorigin="anonymous"></script>
    <title>Cards</title>



</head>

<body>
    <%- include ('layout/nav.ejs') %>

    <main>
        <section id="sectioFCards">

            <%  allCards.forEach(card=>{ %>
            <div class="marg">
                <div class="flip-box flip-up">
                    <div class="object">
                        <div class="front">
                            <div class="flip-content">
                                <h3><%= card.word%></h3>
                            </div>
                        </div>
                        <div class="back">
                            <div class="flip-content">
                                <p><%= card.definition %></p>
                                <img src="<%=card.img_url%>" alt="" srcset="">
                            </div>
                        </div>
                        <div class="flank">
                            <h2>QUIZME</h2>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </section>
    </main>

    <%- include ('layout/footer.ejs') %>
    <script>
       
var x = document.getElementById("myLinks");
function myFunction() {
	if (x.style.display === "inline-block") {
	  x.style.display = "none";
	} else {
	  x.style.display = "inline-block";
	}
  }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/nav.js"></script>
</body>

</html>