<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/cards.css">
    <link rel="stylesheet" href="/styles/table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>new list</title>
</head>

<body>
    <%- include ('layout/nav.ejs') %>
<h2>saeee</h2>
    <form action="/showlist" method="get" class="form-list-display">
        <select name="list" id="list">
            <%listData.forEach(list=>{%>
            <option value="<%=list.list%>"><%=list.list%></option>
            <%})%>
        </select>
        <button type="submit">Select</button>
    </form>

    <table class="tableBlue">

        <tr>
            <th>ID</th>
            <th>Word</th>
            <th>Definition</th>
            <th>Example</th>
            <th>synonyms</th>
            <th>Image</th>
            <th>audio</th>
            <th>Edit</th>
        </tr>
        <td>
            <tr>
                <% allList.forEach(val =>{ %>
                <td><%=val.id%></td>
                <td><%=val.word%></td>
                <td><%=val.definition%></td>
                <td><%=val.example%></td>
                <td><%=val.synonyms%></td>
                <td><img src="<%=val.img_url%>" alt=""></td>
                <td>
                    <audio controls>
                        <source src="<%=val.audio%>" type="audio/mpeg">
                    </audio>
                </td>
                <td>
                    <a href="/deletUpdateForm/<%=val.id%>">
                        <p>&#x270F</p>
                    </a>
                </td>
            </tr>
            <% }) %>
        </td>
    </table>
    <section id='forms-section'>
    <form action="/goToQuiz/<%=list%>" method="get" class="listform">
        <button class="listbtn">Take Quiz</button>
    </form>
    <form action="/goToCards/<%=list%>" method="get" class="listform">
        <button class="listbtn">look to your cards</button>
    </form>
</section>
    <%- include ('layout/footer.ejs') %>

</body>

</html>