<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/reset.css">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/cards.css">
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>new card</title>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
 
</style>

<body>
  <%- include ('layout/nav.ejs') %>
  <form id="regForm" action="/add" method="post">
    <h1>ADD WORD</h1>
    <!-- One "tab" for each step in the form: -->
    <div class="tab">Word:
      <p><input placeholder="Word" oninput="this.className = ''" name="word" value="<%=word%>"></p>Pronunciation<div>
        <audio controls>
          <source src="<%=audio%>" type="audio/mpeg">
        </audio>
      </div>
      <p><input placeholder="audio" oninput="this.className = ''" type="hidden" value="<%=audio%>" name="audio"></p>
    </div>
    <div class="tab">Definition:
      <p> <textarea id="textarea-def" placeholder="Definition" type="text" name="definition"
          oninput="this.className = ''" cols="30" rows="1"></textarea></p>
          <p>
            <div class="custom-select" style="width:300px;" id="def-div">
                           
              <select >
                  <option>Suggested Definitions</option>
                  <% newWord.forEach(val =>{ %>
                      <option><%=val.definition%></option>
                      <% }) %>
                  </select>
              </select>
      </div>
          </p>
    </div>
    <div class="tab">Example:
      <p> <textarea placeholder="Example" type="text" name="example" oninput="this.className = ''" cols="30"
          rows="1"><%=newWord[0].example %></textarea></p>Synonyms: <p>
        <textarea placeholder="Synonyms" type="text" name="synonyms" cols="30" rows="1"
          oninput="this.className = ''"><%=newWord[0].synonyms%></textarea></p>
    </div>
    <div class="tab">Image:
      <p>
        <input placeholder="Image Url" type="url" name="img_url" value="" oninput="this.className = ''">
      </p>
      <div class="suggested-imgs">
        <p>Suggested Images</p>
        <%images.forEach((val,indx) =>{%>
        <%if(5>indx){%>
        <img src="<%=val.img_url%>" alt="">
        <%}%>
 <%})%>
      </div>
    </div>
    <div class="tab">List Name:
      <p>
        <input placeholder="List Name" type="text" name="list" oninput="this.className = ''">
      </p>
      <p>
        <div class="custom-select" style="width:300px;"id="list-div">
                          
          <select>
              <option>Saved Lists</option>
              <% list.forEach(val =>{ %>
              <option><%=val.list%></option>
              <% }) %>
          </select>
      </div>
      </p>

    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>
  
  <%- include ('layout/footer.ejs') %>
   
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          <script src="js/form.js"></script>
          <script src="js/nav.js"></script>

</body>

</html>