<!-- Aziz -->
<form action="/add" method="post">
    
    <%if(images){ %>
    <%images.forEach(val =>{%>
    <img src="<%=val.img_url%>" alt=""><br>
    <%})%>
    <%}else{%>
    <img src="https://pngimage.net/wp-content/uploads/2018/06/no-image-available-png-3.png" alt="">;
    <%}%>
    <input type="text" name="<%=word%>" value="<%=word%>"><br>
    <% newWord.forEach(val =>{ %>
    <input type="radio" name="definition" id="definition" value="<%=val.definition%>">
    <label for="definition"><%=val.definition%></label><br>
    <input type="radio" name="example" id="example" value="<%=val.example%>">
    <label for="example"><%=val.example%></label><br>
    <input type="radio" name="synonyms" id="synonyms" value="<%=val.synonyms%>">
    <label for="synonyms"><%=val.synonyms%></label><br>
    <% }) %>
    <input type="text" name="list" placeholder="enter the list"><br>
    <button type="submit">Add to database</button><br>
</form>
<!-- Aziz -->