<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/cards.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>show</title>
</head>

<body>
    <%- include ('layout/nav.ejs') %>

    <main>
        <section class="form-section">
            <div class="form-div ">
                <% wordToEdit.forEach(val =>{ %>
                <form action="/updateWord/<%=val.id%>?_method=put" method="post">
                    <label for="">
                        <span>Word</span>
                        <input placeholder="Word" type="text" name="word" required="" value="<%=val.word%>">
                    </label>
                    <label for="">
                        <span>Pronunciation</span>
                        <audio controls>
                            <source src="<%=val.audio%>" type="audio/mpeg">
                        </audio>

                    </label>

                    <label for="">
                        <span>Definition</span>
                        <textarea placeholder="Definition" type="text" name="definition" required="" cols="30"
                            rows="4"><%=val.definition%></textarea>
                    </label>

                    <label for="">
                        <span>Example</span>
                        <textarea placeholder="Example" type="text" name="example" required="" cols="30"
                            rows="2"><%=val.example %></textarea>
                    </label>
                    <label for="">
                        <span>Synonyms</span>
                        <textarea placeholder="Synonyms" type="text" name="synonyms" required="" cols="30"
                            rows="2"><%=val.synonyms%></textarea>
                    </label>
                    <label for="">
                        <span>List</span>
                        <input placeholder="List Name" type="text" name="list" value="<%=val.list%>" required="">
                    </label>
                    <div class="box-container" id="list-div">
                        <div class="box">
                            <select>
                                <option>Saved Lists</option>
                                <option><%=val.list%></option>

                            </select>
                        </div>
                    </div>
                    <label for="">
                        <span>Image Url</span>
                        <input placeholder="image Url" type="url" name="img_url" value="<%=val.img_url%>" required="">
                    </label>
                    <div class="btn-div">
                        <button class="form-btn update-btn" type="submit">UPDATE</button>
                    </div>
                </form>
                <form action="/deleteWord/<%= val.id %>?_method=delete"  method="post">
                    <button class="delete-btn form-btn">DELETE</button>
                </form>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include ('layout/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="js/form.js"></script>
</body>

</html>