<!-- PLEASE LINK IT WITH YOUR BACKEND AND CHECK THE NAMES -->
<section class="form-section">
    <div class="form-div ">
        <form action="/updateWord/<%=val.id%>?_method=put" method="post">
            <% wordToEdit.forEach(val =>{ %>
            <input placeholder="Word" type="text" name="word" required="" value="<%=val.word%>">
            <textarea placeholder="Definition" type="text" name="definition" required="" cols="30" rows="4"></textarea>
            <div class="box-container" id="def-div">

                <div class="box">
                    <select>
                        <option>Suggested Definitions</option>
                        <option><%=val.definition%></option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </div>
            </div>
            <input placeholder="List Name" type="text" name="list" required="">
            <div class="box-container" id="list-div">
                <div class="box">
                    <select>
                        <option>Saved Lists</option>
                        <option><%=val.list%></option>
                        <option>List 2</option>
                        <option>List 3</option>
                        <option>List 4</option>
                    </select>
                </div>
            </div>

            <input placeholder="image Url" type="url" name="img_url" value="" required="">
            <div class="suggested-imgs">
                <p class="suggested-imgs-p">Suggested Images</p>
                <img src="<%=val.img_url%>" alt="">
                <img src="images/test-img.jpg" alt="">
                <img src="images/test-img.jpg" alt="">
            </div>
            <div class="btn-div">
                <button class="form-btn update-btn" type="submit">UPDATE</button>
            </div>
        </form>
        <form action="/deleteWord/<%= val.id %>?_method=delete" method="post">
            <button class="delete-btn form-btn">DELETE</button>
        </form>
        <% }) %>
    </div>
</section>